.media-preloader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 12px;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-left-color: var(--primary-neon);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.media-preloader p {
  margin-top: 20px;
  font-weight: bold;
  color: var(--text-muted);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}