.sidebar {
  width: 280px;
  background-color: var(--secondary-dark);
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-right: 1px solid var(--border-color);
}

.sidebar-header {
  margin-bottom: 40px;
}

.logo {
  width: 100%;
  max-width: 200px;
}

.sidebar-nav .menu-item {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.sidebar-nav .menu-item.active {
  background-color: var(--primary-dark);
  color: var(--primary-neon);
}

.menu-icon {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  margin-right: 12px;
}